+# Ignore some system/work files
bin
docs
Thumbs.db
+# Ignore GIT metadata
.git
+# Ignore Eclipse-specific metadata
.classpath
.project
.settings
+# Ignore NetBeans-specific metadata
+build.xml
+build/*
+manifest.mf
+nbproject